Abelo.xcodeproj/project.xcworkspace/xcuserdata/alasdair.xcuserdatad/UserInterfaceState.xcuserstate
Abelo.xcodeproj/project.xcworkspace/xcuserdata/
Abelo/.DS_Store
Abelo.xcodeproj/xcuserdata/alasdair.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
.DS_Store
